@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
    font-family: Comic Mono;
    font-weight: normal;
    src: url(./ComicMono.ttf);
    font-display: swap;
}

@font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url(./ComicMono-Bold.ttf);
    font-display: swap;
} */

code {
  border-radius: 1em;
  white-space: pre;
}

.background-card {
  background: rgba(0, 0, 0, 0.6);
  border-radius: 0.8rem;
  border: 6.45px solid #2b2b2b;
  padding: 25px;
}

.markdown-box {
  border-radius: 0.8rem;
  border: 6.45px solid #2b2b2b;
  padding: 25px;
}
