@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: Comic Mono;
    font-weight: normal;
    src: url(./ComicMono.ttf);
}

@font-face {
    font-family: Comic Mono;
    font-weight: bold;
    src: url(./ComicMono-Bold.ttf);
}

body {
    color: #363f47;
    background-color: #e9debb;
    font-weight: 100;
    font-family: "Comic Mono";
    font-size: calc(0.63rem + 0.2vw);
    line-height: 2.23rem;
}

.header a {
    color: #000;
}

header h2 {
    color: #000;
    margin: 0 0 0.5rem 0;
    line-height: 1.5;
    border-bottom: 3px solid #000;
    padding-bottom: 0.1rem;
}

header a,
header p {
    margin: 0;
    color: #000;
    line-height: 1.5;
    margin-top: 0;
}

header p {
    text-align: center;
}

code {
    border-radius: 1em;
    white-space: pre;
}

.background-card {
    background: rgba(0, 0, 0, 0.60);
    border-radius: 0.8rem;
    border: 6.45px solid #555;
    padding: 25px;
}

.profile-card {
    background: rgba(10, 8, 0, 0.4);
    color: #f0f0f0;
    border-radius: 0.8rem;
    border: 6.45px solid #555;
    padding: 25px;
}

.about {
    color: #f0f0f0;
}

.post {
    background: rgba(0, 0, 0, 0.45);
    border-radius: 0.8rem;
    border: 6.45px solid #555;

    padding: 0.63rem;
}

.tags {
    background: rgba(0, 0, 0, 0.37);
    border: #f0f0f0;
    border-radius: 1rem;

    font-size: calc(0.7rem + 0.03vw);

    padding: 0.2rem 0.5rem;
}
